.main-app{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;

    .particles-bg{
        
        position: fixed;
        top: 0;
        z-index: -10;
    }
}